<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<p id="notice"><%= notice %></p>

<div class="col-sm-4">
  <h2><strong>Goalsetter Profile</strong></h2>
    <p>
      <%= other_user_profileimage %>
    </p>
    <p>
      <h3><strong><%= @profile.fname.humanize %> <%= @profile.lname.humanize %></strong></h3>
    </p>
    <p>
      <strong><%= @profile.city.humanize %>, <%= @profile.country %></strong>
    </p>

    <% if current_user.profile == @profile %>
      <%= link_to 'Edit Profile', edit_profile_path(@profile), class: "btn btn-warning" %>
    <% end %>
    <div style="margin-top: 50px">
      <%= render "goals/mycompgoals" %>
    </div>
</div>

<div class="col-sm-8">
  <h2>
    <% if current_user.profile == @profile %>
      <%= "My Complete Goals" %>
    <% else %>
      <%="#{@profile.fname}'s Complete Goals" %>
    <% end %>
  </h2>
      <%= column_chart @usergoals.group_by_week(:completed_at, format: "%d %b", week_start: :mon, range: 11.months.ago.midnight..DateTime.now).count %>

  <div style="margin-top: 50px">
    <h2>Current Goals</h2>
    <div class="pull-right">
      <%= link_to "Complete", profile_path(filter: 'complete'), method: :get %> |
      <%= link_to "Incomplete", profile_path(filter: 'incomplete'), method: :get %> |
      <%= link_to "All", profile_path, method: :get %>
    </div>
    <div style="margin-top: 40px">
      <%= render @goals %>
    </div>
    <div class="apple_pagination">
      <%= will_paginate @goals %>
    </div>
  </div>
</div>
