<p id="notice"><%= notice %></p>
<h2>Goalsetter Profile</h2>

<p>
  <%= cl_image_tag(@profile.profileimage, :width => 200, class: "img-thumbnail") %>
</p>

<p>
  <h3><strong><%= @profile.fname %> <%= @profile.lname %></strong></h3>
</p>

<p>
  <strong><%= @profile.city %>, <%= @profile.country %></strong>
</p>



<% if current_user.profile == @profile %>
  <%= link_to 'Edit Profile', edit_profile_path(@profile), class: "btn btn-warning" %>
<% end %>

