<div class="tab-content">


	<ul class="nav nav-tabs" role="tablist">
	    <li role="presentation" class="active"><a href="#myFeed" aria-controls="myFeed" role="tab" data-toggle="tab">My Goals</a></li>
	    <li role="presentation"><a href="#goalFeed" aria-controls="goalFeed" role="tab" data-toggle="tab">Feed</a></li>
	</ul>


	<div role="tabpanel" class="tab-pane fade in active" id="myFeed">
		<h2>My Goals</h2>

			<%= link_to "New Goal", new_goal_path, method: :get, class: "btn btn-warning" %>
		<div class="pull-right">
			<%= link_to "Complete", home_index_path(filter: 'complete'), method: :get %> | 
			<%= link_to "Incomplete", home_index_path(filter: 'incomplete'), method: :get %> | 
			<%= link_to "All", home_index_path, method: :get %>
		</div>
		<!-- <div class="pull-right"> -->
			<%# link_to "Complete", @profile.user.goals.complete %>

		<div class="feed">
			<%= render @goals %>
		</div>
		<%# will_paginate @goals %>

	</div>

	<div role="tabpanel" class="tab-pane fade in" id="goalFeed">
		<h2>Feed</h2>
			<div>
				<% @feed_items.each do |goal| %>
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="col-sm-10">
								<h4><strong><%= goal.name %></strong></h4>
								<p>
								<% if goal.user.profile %>
				      				<%= goal.user.profile.name %>
				      			<% else %>
				      				<%= goal.user.email %>
				      			<% end %>
				      			</p>
								<p><strong>Starts </strong><%= goal.startdate.strftime("%v") %>  <strong>Ends </strong><%= goal.enddate.strftime("%v") %></p>
								<p><%= goal.details %></p>
							</div>
							<div class="col-sm-2">
								<div class="text-center">
									<% if goal.user.profile %>
										<div><%= link_to (cl_image_tag(goal.user.profile.profileimage, :width => 50, :height => 50, :crop => :thumb, :gravity => :face, :radius => :max, :default_image => "avatar.png")), profile_path(goal.user.profile), method: :get %></div>
									<% end %>

									<% if goal.complete %>
										<br>
										<p class="orgtxt"><strong>Complete!</strong></p>
										<p class="orgtxt"><%= goal.completed_at.strftime("%v") if goal.completed_at %></p>
									<% else %>
										<br>
										<p><strong><%= "Not Complete" %></strong></p>
									<% end %>
								</div>
								
							</div>
						</div>
					</div>
				<% end %>
			</div>

	</div>
</div>


<!-- scripts -->

<script type="text/javascript">
	$('#myFeed a').click(function (e) {
		e.preventDefault()
		$(this).tab('show')
	})
	
	$('#goalFeed a').click(function (e) {
		e.preventDefault()
		$(this).tab('show')
	})
</script>