	<h3>Goal Stats</h3>
		<table>
			<tr>
				<td>Total Goals: </td>
				<td><strong><%= @goals.count %></strong></td>
			</tr>
			<!-- <tr>
				<td>Goals Complete: </td>
				<td><strong><%= @completed_goals.count %></strong></td>
			</tr> -->
			<tr>
				<td>Goals Complete: </td>
				<td><strong><%= @usergoals.count %></strong></td>
			</tr>
			<tr>
				<td>Incomplete Goals: </td>
				<td><strong><%= @incomplete_goals.count %></strong></td>
			</tr>
			<tr>
				<td>Last 7 Days: </td>
				<td><strong><%= @completed_goals.last7.count %></strong></td>
			</tr>
			<tr>
				<td>Previous 7 Days: </td>
				<td><strong><%= @completed_goals.previous_week.count %></strong></td>
			</tr>
			<tr>
				<td><h4><a href="#GoalScoreModal" data-toggle="modal">Goal Score</a></h4></td>
				<td>
					<h4><strong>
						<% if @completed_goals.any? %>
							<%= ((@complete_before_enddate.count.to_f / @usergoals.count.to_f) * 10).to_i %>
						<% else %>
							<%= 0 %>
						<% end %>
					</strong></h4>
					</td>
		</table>

<!-- Modal -->
<div class="modal fade" id="GoalScoreModal" tabindex="-1" role="dialog" aria-labelledby="GoalScoreModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="GoalScoreModalLabel">Goal Score</h4>
      </div>
      <div class="modal-body">
        <p>Your Goal Score is an analysis of your completed goals. It gives you feedback on your goal completion within the time period set for the goal. Goal Score is rated from 0 to 10. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->