<div class="panel panel-default homemargin" style="padding-left: 10px">
	
	<h3>Goal Stats</h3>
		<table>
			<tr>
				<td>Total Goals: </td>
				<td><strong><%= @goals.count %></strong></td>
			</tr>
			<tr>
				<td>Goals Complete: </td>
				<td><strong><%= @completed_goals.count %></strong></td>
			</tr>
			<tr>
				<td>Goals Complete 2: </td>
				<td><strong><%= @usergoals.count %></strong></td>
			</tr>
			<tr>
				<td>Incomplete Goals: </td>
				<td><strong><%= @incomplete_goals.count %></strong></td>
			</tr>
			<tr>
				<td>Last 7 Days: </td>
				<td><strong><%= @completed_goals.last7.count %></strong></td>
			</tr>
			<tr>
				<td>Previous 7 Days: </td>
				<td><strong><%= @completed_goals.previous_week.count %></strong></td>
			</tr>
		</table>
</div>